 @font-face {
     font-family: MyFont;
     src:  url('iconfont.woff') format('woff'),
           url('iconfont.ttf') format('ttf');
     font-weight: 600;
     font-style: normal;
     font-weight: bold;
}
.contain {
  color: green;
  font-size: 16px;
  font-family: MyFont;
  width: 200px;
  height: 200px;
  background: antiquewhite;
  background-image: url(./imgs/2.png);
}
.leftLayout {
  background-image: url(./imgs/1.jpeg)
}